*{
  margin: 0px;
  padding: 0px;
  
}
body{
  color:white;
  background-color:rgb(39, 33, 41);
  font-family: 'Inconsolata', monospace;

}
.title{
  text-align :center;
  padding:20px;
}
.description{
  text-align:center;
}
.content{
  position: relative;
  top:100px;
  text-align:center;
  
} 
.text{
  padding:30px;
  border:4px solid white;
  border-radius: 2px 2px 2px 2px;
  margin:0 200px;
  font-size:23px;

}
input{
  margin-top: 25px;
  width: 600px;
  background-color: transparent;
  outline: none;
  border:none;
  padding:50px; 
  font-size:23px;
  color:white;
  border:1px solid white;
}
.left{
  position: relative;
  bottom:55px;
  left:600px;
  width:200px;
  font-size:23px;
}
.right{
  position: relative;
  bottom:79px;
  left:760px;
  margin-right:200px;
  width:200px;
  font-size:23px;
}

#button{
  margin-left:100px;
  padding:15px 50px;
  font-family: 'Inconsolata', monospace;
  color:white;
  background-color: transparent;
  font-size:19px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}
.correct{
  color:white;
}
.incorrect{
  color:red;
}